.block {
  padding: 228px 0 156px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__img {
    box-shadow: 0px 5px 10px 2px rgba(134, 149, 164, 0.2);
    position: relative;
    overflow: hidden;
    flex-shrink: 2;
    min-height: 243px;
    min-width: 243px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(134, 149, 164, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(134, 149, 164, 0.2);

    & > picture > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 auto;
    min-height: 243px;
  }

  &__title {
    & > h1 {
      font-size: 3em;
      line-height: 60px;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  &__description {
    padding: 0 50px 0 0;
  }
}

.circle {
  border-radius: 50%;
}

@media (max-width: 579px) {
  .block {
    padding: 50px 0 60px 0;
    flex-direction: column;
    align-items: center;

    &__title {
      padding: 0 20px;
      & > h1 {
        font-size: 2.5em;
      }
    }

    &__text {
      flex-basis: auto;
      justify-content: flex-start;
      padding: 34px 24px 30px;
      text-align: center;
    }

    &__description {
      padding: 0;
    }
  }
}
