@import "normalize.css";
@import './colors.scss';
@import './header.scss';
@import './greetings.scss';
@import './experience.scss';
@import './works.scss';
@import './continue.scss';

@font-face {
  font-family: 'heeboregular';
  src: url('../fonts/Heebo/heebo.woff2') format('woff2'),
       url('../fonts/Heebo/heebo.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: $dark;
  font-family: 'heeboregular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 950px;
  padding: 0 15px;
}
