@import "normalize.css";
@import './colors.scss';
@import './header.scss';
@import './greetings.scss';
@import './posts.scss';
@import './works.scss';



*,
*::before,
*::after {
  box-sizing: border-box;
  color: $dark;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
}

.wrapper {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  background-color: $secondary;
  margin: 0 auto;
  max-width: 950px;
  padding: 0 15px;
  height: 100vh;
}
